<a href="https://colab.research.google.com/github/syafaanisepti-dev/KKASntl-Nama-X-7/blob/main/1_Fungsi_print_syafa_X_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Nama: syafa septiani

kelas: X-7

Nomor Absen: 34

In [ ]:
harga_telur = 26000
nama_pembeli = "Syafa"

print("Harga telur adalah" , harga_telur , "per kilogram")
print("Nama pembeli adalah",nama_pembeli)

Harga telur adalah 26000 per kilogram
Nama pembeli adalah Syafa

In [ ]:
print("Harga telur adalah " + str(harga_telur)+" per kilogram")
print("Nama pembeli adalah " + nama_pembeli )

Harga telur adalah 26000 per kilogram
Nama pembeli adalah Syafa

In [ ]:
print("Harga telur adalah " , harga_telur  , "per kilogram")
print("Nama pembeli telur adalah", nama_pembeli )

Harga telur adalah  26000 per kilogram
Nama pembeli telur adalah Syafa

In [ ]:
print("Nama: Syafa septiani")
print("Kelas: X-7")
print("Nomor absen:29")

Nama: Syafa septiani
Kelas: X-7
Nomor absen:29

In [ ]:
print("Nama\t\t: Syafa septiani\nkelas\t\t: X-7\nNomor absen\t: 34")

Nama		: Syafa septiani
kelas		: X-7
Nomor absen	: 34

In [ ]:
print("""Nama: Syafa septiani
Kelas: X.7
Nomor absen: 34""")

Nama: Syafa septiani
Kelas: X.7
Nomor absen: 34

In [ ]:
print("Harga telur") ya

In [ ]:
print("Nama: Habib jafar")

Nama: Habib jafar

In [ ]:
print('Nama: Habib jafar')

Nama: Habib jafar

In [ ]:
print('Nama: Habib ja\'far')

Nama: Habib ja'far

In [ ]:
print()

In [ ]:
print("Nama: Habib ja'far")

Nama: Habib ja'far

Parameter Fungsi print

In [ ]:
Tanggal = 18
Bulan = "Februari"
Tahun = 2000

#18-Februari-2000
print(Tanggal)
print(Bulan)
print(Tahun)

18
Februari
2000

In [ ]:
#18-Februari-2000
print(Tanggal, Bulan, Tahun, sep="_")

18_Februari_2000

In [ ]:
#18-Februari-2000
print(Tanggal, end="_")
print(Bulan, end="_")
print(Tahun)

18_Februari_2000

In [ ]:
print("Bu Shinta berkata, \"Tenang fokus sejenak!\".")

Bu Shinta berkata, "Tenang fokus sejenak!".

In [ ]:
print('Bu Shinta berkata, "Tenang fokus sejenak!".')

Bu Shinta berkata, "Tenang fokus sejenak!".

In [ ]:
print("Lokasi penyimpanan tugas KKA ada di local disk D:\\KKA\\Tugas")

Lokasi penyimpanan tugas KKA ada di local disk D:\KKA\Tugas

#Menampilkan Teks Bebas dengan Tanda Kutip

#Menampilkan Variabel Integer

In [ ]:
print("hallo world!")

hallo world!

In [ ]:
print("syafa septiani!")

syafa septiani!

In [ ]:

usia = 20
print(usia)

20

In [ ]:
beratBadan = 50
print(beratBadan)

50

#Menampilkan Teks Bebas Dan Nilai Variabel

In [ ]:
tinggibadan = 156
print(tinggibadan)

156

In [ ]:
print("tinggi badan:156",tinggibadan)

tinggi badan:156 156

In [ ]:
print("Usia Anda: " + str(usia))

Usia Anda: 20

In [ ]:
(LuasMAN = 1.1)
print("Luas MAN adalah " + str(LuasMAN)) + " Kilometer persegi.")

SyntaxError: unmatched ')' (ipython-input-285141127.py, line 2)

In [ ]:
print(f"Luas MAN adalah {LuasMAN} Kilometer persegi.")